<div class="row">
    <div class="col-md-offset-3">
        <h1 class="text-danger">
            youve the end of the internet
        </h1>

        <hr />
        <a class="btn btn-outline-success" asp-controller="Movie" asp-action="Index">Home Page</a>
    </div>
</div>